<h2 class="animated fadeIn fast">Sobre Comic App</h2>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ducimus assumenda
  dolore dolor voluptate, ipsa id reprehenderit possimus nostrum iste voluptas!
  Unde, saepe? Id, minus enim. Debitis vero officiis iure. Animi saepe quibusdam
  possimus odio, recusandae repellat molestiae tempore voluptatibus quae,
  aperiam omnis magni quia ex architecto facere assumenda eaque iure asperiores
  eum atque blanditiis explicabo officia corporis quasi. Aliquam. Facilis
  ratione commodi in voluptatibus maxime ex porro illo dolorum. Eius cumque,
  officiis iure sint delectus ut pariatur ad nam natus numquam obcaecati minima,
  expedita blanditiis aut eos ab tenetur? Pariatur facere, vitae repellat
  placeat exercitationem officiis natus omnis sit inventore veritatis mollitia
  sequi sunt eius cum suscipit aliquam reprehenderit nulla ad quam. Accusamus
  blanditiis dolores veritatis. Quibusdam, minus excepturi. Cupiditate,
  voluptatem. Ut ipsa veniam iste sequi eius quibusdam tenetur dolorem nam harum
  totam! Deleniti corrupti iure ipsam similique, sapiente aut molestiae!
  Provident rerum ut porro incidunt, hic veritatis fuga. Atque corrupti
  voluptatibus harum reprehenderit, suscipit ipsa voluptates modi possimus
  soluta beatae. Ipsum magnam modi molestias itaque necessitatibus repellat
  officiis quas assumenda quis obcaecati labore unde suscipit asperiores,
  officia aliquam. Nisi iusto repudiandae fugiat sed totam qui distinctio porro
  reiciendis temporibus quod veritatis animi recusandae ipsam magnam obcaecati
  impedit ad officiis necessitatibus, nobis voluptatum dolorem accusantium,
  architecto libero? Cumque, iste! Dolorem deleniti, illo vitae ratione fugiat
  itaque sed nisi excepturi cupiditate minus quisquam rerum asperiores id quidem
  laudantium provident suscipit soluta. Numquam ratione voluptatem tempora,
  consectetur praesentium ex eum placeat! Expedita vitae dolorem officiis quam
  quasi a ipsam eum numquam veritatis voluptatibus eligendi, quis magni.
</p>
